body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
    font-weight: normal;
}
.page-title {
    background-color: #2E2F42;
    color:#FFFFFF;
}
.button {
    background-color: #4D5AE5;
    color: #FFFFFF;


}
.contacts a:hover {
    color:#404BBF;
    font-size: 16px;
    letter-spacing: 4%;
    font-weight: 500;
    line-height: 24px;
}
.hero-page {
    background-color: #F4F4FD;
}
h1 {
    font-size: 56px;
    letter-spacing: 2%;
    font-weight: 900;
    line-height: 60px;
}
h2 {
    font-size: 36px;
    letter-spacing: 2%;
    font-weight: 900;
}
h3 {
    font-size: 20px;
    letter-spacing: 2%;
    font-weight: 500;
}
a {
    font-size: 12px;
    letter-spacing: 4%;
    font-weight: 500;
    line-height: 16px;
}
p {
    font-size: 12px;
    letter-spacing: 4%;
    line-height: 14px;
}
.h1 {
    text-align: center;
}
footer {
    background-color: #2E2F42;
    color: #FFFFFF;
}
.webstudio {
    color:#FFFFFF;
}
span {
    color:#404BBF;
}