body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-weight: normal;
}
.page-title {
    background-color: #2E2F42;
    color:#FFFFFF;
}
.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

}
.button:hover,
.button:focus {
    background-color: #404BBF;
}
.contacts {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts a:hover,
.contacts a:focus {
    color:#404BBF;
    font-size: 16px;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
}
.hero-page {
    background-color: #F4F4FD;
}
h1 {
    font-size: 56px;
    letter-spacing: 0.02em;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;;
}
h2 {
    font-size: 36px;
    letter-spacing: 0.02em;
    font-weight: 700;
    line-height: 1.11111;
    color: #2E2F42;
}
h3 {
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
}
a {
    font-size: 16px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    color: #2E2F42;
}
p {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}
.footer-p {
    color:#F4F4FD;
}
footer {
    background-color: #2E2F42;
    color: #FFFFFF;
}
.logo-header {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.16667;
}
.logo-footer {
    color:#f4f4fd;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.16667;
}
.span-header {
    color:#4d5ae5;
}
.span-footer {
    color: #4D5AE5;
}
.team-image {
    background-color: #FFFFFF;
}
ul {
    list-style-type: none;
}
.address {
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #434455;
}
.address:hover,
.address:focus {
    color: #404BBF;
}
.team {
    text-align: center;
}
.features {
    text-align: left;
}
.portfolio {
    text-align: left;
}