body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-weight: normal;
}
.page-title {
    background-color: #2E2F42;
    color:#FFFFFF;
}
.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: inherit;
    cursor: pointer;

}
.button:hover,
.button:focus {
    background-color: #404BBF;
}
.contacts {
    font-weight: 500;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts a:hover,
.contacts a:focus {
    color:#404BBF;
    font-size: 16px;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
}
.hero-page {
    background-color: #F4F4FD;
}
h1 {
    font-size: 56px;
    letter-spacing: 0.02em;
    font-weight: 900;
    line-height: 60px;
    text-align: center;;
}
h2 {
    font-size: 36px;
    letter-spacing: 0.02em;
    font-weight: 900;
    color: #2E2F42;
}
h3 {
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #2E2F42;
}
a {
    font-size: 12px;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
}
p {
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 0.875;
    color: #8E8F99;
}
.p {
    color:#F4F4FD;
}
footer {
    background-color: #2E2F42;
    color: #FFFFFF;
}
.logo1 {
    color: #2E2F42;
    font-family: "Raleway";
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}
.logo2 {
    color:#f4f4fd;
    font-family: "Raleway";
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}
.span1 {
    color:#404BBF;
}
.span2 {
    color: #4D5AE5;
}
.li {
    background-color: #FFFFFF;
}
ul {
    list-style-type: none;
}
.address {
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team {
    text-align: center;
}